*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black; 
    text-align: center;      
}
header > h1{
    font-family: 'Anton', sans-serif;
    color: white;
    padding-top: 20px;        
}
nav{
    background-color: black;
}
a{   
    font-family: 'Anton', sans-serif;    
    text-decoration: none;
    color: white;     
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;     
    text-align: center;   
}
a:hover{
    background-color: red;
    border-radius: 5px 5px;        
}
p{
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding-bottom: 10px;
}
div{
    color: black;
}
main h2,p,.iframe{
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    width: 70%;  
    display: block;  
    margin: auto;    
    color: white;
    padding: 20px;      
}
.bt{
    position: absolute;
    right: 25%;
    color: red;
    background-color: black;    
}
.bt:hover{
    font-size: 100%;
}
.video1{
    display: block;
    margin: auto;
    text-align: center;
}
.top1{
    width: 10%;
    display: block;
    position: absolute;
    right: 10%;
    top: 3%;
    border-radius: 80px;
}
.pefiltu{
    cursor: pointer;
}
img:hover{
     background-color: green;
     padding: 3%;
     border-radius: 70px;
}
b{
    background-color: red;
}
footer{
    background-color: green;
    font-family: 'Work Sans', sans-serif;
    color: white;   
    text-align: center;   
    margin: auto; 
    font-size: 90%;
}
